{{cprTrace "START HUD DV.HBS"}}
<div class="control-icon dv-table-selector">
  <img src="systems/cyberpunk-red-core/icons/hud/dv-icon.svg"
       width="36"
       height="36"
       data-tooltip="{{localize "CPR.hud.iconHintDv"}}{{#if this.cprDvTable }} ({{localize "CPR.hud.current" }}: {{this.cprDvTable }}){{/if }}"/>
</div>
{{cprTrace "END DV.HBS"}}
